@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.container-site {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content-site {
  flex: 1;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  border: 1px solid #ececec;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  height: 100px;
}

.header-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 39px;
}
.logo h2 {
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  text-transform: uppercase;
  padding-left: 13px;
}
.logo span {
  font-size: 27px;
  font-weight: 900;
  color: #f16d7f;
  text-transform: uppercase;
}

.header-browse {
  position: relative;
}
.header-browse:hover .container-menu-browse {
  display: flex;
}
.header-browse > a {
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  line-height: 16px;
  padding: 10px 0 10px 14px;
  display: block;
  background-color: #f5f5f5;
  text-decoration: none;
  border: 1px solid #cdcdcc;
}
.header-browse > a:hover {
  background-color: #ebebeb;
}
.header-browse > a > i {
  font-size: 14px;
  color: #838383;
  padding-left: 8px;
  padding-right: 8px;
}

.container-menu-browse {
  z-index: 1;
  position: absolute;
  top: 35px;
  display: none;
  flex-direction: column;
  padding: 10px 15px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.menu-browse-triangle {
  width: 7px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  transform: rotate(45deg);
  top: -5px;
  left: 67px;
}

.menu-browse-box h4 {
  font-size: 14px;
  font-weight: 400;
  color: #232323;
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}
.menu-browse-box ul {
  list-style: none;
}
.menu-browse-box a {
  padding-left: 10px;
  text-decoration: none;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
}
.menu-browse-box a:hover {
  color: #222222;
}

.header-search-form {
  display: flex;
  align-items: center;
}

.header-search-input {
  height: 36px;
  width: 315px;
  background-color: #ffffff;
  border-top: 1px solid #cdcdcc;
  border-right: none;
  border-bottom: 1px solid #cdcdcc;
  border-left: none;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  padding: 0 16px;
}
.header-search-input:focus {
  outline: none;
}

.header-search-button {
  height: 38px;
  width: 38px;
  border: 1px solid #cdcdcc;
  background-color: #ffffff;
  color: #a4a4a4;
  font-size: 14px;
}
.header-search-button:hover {
  border: 1px solid #838383;
  color: #838383;
}
.header-search-button:focus {
  outline: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-cart {
  position: relative;
}
.header-cart > a {
  color: #222222;
  font-size: 32px;
  padding-right: 26px;
}
.header-cart:hover {
  color: #a4a4a4;
}
.header-cart:hover .container-menu-cart {
  display: flex;
}

.cart-triangle {
  width: 7px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  transform: rotate(45deg);
  top: -5px;
  left: 119px;
}

.container-menu-cart {
  padding: 20px 15px;
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  width: 262px;
  border-radius: 5px;
  top: 40px;
  left: -103px;
  align-items: center;
  box-sizing: border-box;
}

.cart-product {
  border-bottom: 1px solid #ededed;
  width: 100%;
  justify-content: space-between;
  display: flex;
  height: 120px;
  align-items: center;
}

.cart-product-center {
  padding-top: 36px;
  margin-left: 14px;
  width: 100%;
  height: 100%;
}
.cart-product-center h4 {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.cart-product-center > span {
  padding-top: 5px;
  display: block;
  color: #f16d7f;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}

.cart-product-right button {
  border: none;
  background: none;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
}
.cart-product-right button:hover {
  cursor: pointer;
  color: #f16d7f;
}
.cart-product-right button:focus {
  outline: none;
}

.cart-but {
  padding-top: 32px;
  padding-bottom: 11px;
}
.cart-but:last-child {
  padding-top: 0;
  padding-bottom: 0;
}
.cart-but a {
  text-align: center;
  text-decoration: none;
  display: block;
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
}
.cart-but a:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.cart-info {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart-info p, .cart-info span {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-myAccount {
  display: block;
  padding: 11px 0 11px 19px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}
.header-myAccount:hover {
  background-color: #a4a4a4;
}
.header-myAccount i {
  padding-left: 8px;
  padding-right: 12px;
  color: #ffffff;
  font-size: 14px;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.menu > li:hover .container-mega-menu {
  display: flex;
}
.menu > li > a {
  display: block;
  padding: 19px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.menu > li > a:hover {
  border-bottom: 3px solid #ef5b70;
}

.menu-active {
  border-bottom: 3px solid #ef5b70;
}

.mega-menu-triangle {
  width: 16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  transform: rotate(45deg);
  top: -9px;
  left: 38px;
}

.container-mega-menu {
  position: absolute;
  top: 160px;
  display: none;
  padding: 20px 25px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.mega-menu {
  margin-right: 46px;
}
.mega-menu:last-child {
  margin-right: 0;
}
.mega-menu h4 {
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}
.mega-menu ul {
  list-style: none;
}
.mega-menu a {
  text-decoration: none;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
}
.mega-menu a:hover {
  color: #222222;
}

.breadcrumb-background {
  background-color: #f8f3f4;
}

.breadcrumb-container {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb-name h2 {
  font-size: 24px;
  font-weight: 700;
  color: #f16d7f;
  text-transform: uppercase;
}

.breadcrumb {
  display: flex;
  list-style: none;
}
.breadcrumb .active {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #f16d7f;
}

.breadcrumb-item {
  font-size: 14px;
}
.breadcrumb-item::after {
  margin: 0 3px;
  content: "/";
  color: #636363;
}
.breadcrumb-item:last-child::after {
  content: none;
}
.breadcrumb-item a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-decoration: none;
}
.breadcrumb-item a:hover {
  color: #f16d7f;
}

.top-filter {
  display: flex;
  justify-content: space-between;
}

.filter-box {
  width: 262px;
}
.filter-box h4 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.filter-box-left ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.filter-box-left li {
  padding-bottom: 8px;
}
.filter-box-left li::after {
  margin: 0 10px;
  content: "|";
  color: #dfdfdf;
}
.filter-box-left li:last-child::after {
  content: none;
}
.filter-box-left a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
}

.filter-box-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-box {
  width: 65px;
  padding-bottom: 8px;
}
.checkbox-box label {
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
  text-transform: uppercase;
}

.product-container {
  display: flex;
  padding-top: 59px;
  padding-bottom: 110px;
}

.sidebar-details {
  padding-bottom: 18px;
}
.sidebar-details summary {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  padding: 0 11px;
  width: 243px;
  height: 37px;
  display: block;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
  font-size: 14px;
  font-weight: 700;
  color: #6f6e6e;
  line-height: 37px;
  text-transform: uppercase;
}
.sidebar-details summary::-webkit-details-marker {
  display: none;
}
.sidebar-details summary:hover {
  border-bottom: 1px solid #ef5b70;
  cursor: pointer;
}
.sidebar-details summary:focus {
  outline: none;
}
.sidebar-details summary::after {
  position: absolute;
  top: 9px;
  right: 11px;
  content: "🢓";
  font-size: 27px;
  padding: 0;
  margin: 0;
}

.sidebar-details[open] summary {
  color: #ef5b70;
}
.sidebar-details[open] summary::after {
  top: -12px;
  right: 11px;
  content: "🢑";
  font-size: 26px;
  padding: 0;
  margin: 0;
}

.sidebar-details-last {
  padding-bottom: 0;
}

.sidebar-details-menu {
  padding: 6px 16px;
  list-style: none;
}

.sidebar-details-element a {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  line-height: 33px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
}
.sidebar-details-element a:hover {
  color: #ef5b70;
  border-bottom: 1px solid #ef5b70;
}

.product-container-right {
  padding-left: 50px;
}

.sort-product {
  margin-top: 30px;
  width: 846px;
  height: 50px;
  background-color: #f3f3f3;
}

.product-container-box {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-box {
  width: 261px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
}

.view-all {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 16px 45px;
  border-radius: 3px;
  border: 1px solid #6f6e6e;
}
.view-all:hover {
  color: #ef5b70;
  border: 1px solid #ef5b70;
}

.feature-background {
  background-color: #222224;
}

.feature-container {
  height: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-box {
  width: 310px;
  text-align: center;
}
.feature-box h4 {
  font-size: 20px;
  font-weight: 700;
  color: #fbfbfb;
  letter-spacing: 0.5px;
  padding-top: 25px;
  padding-bottom: 12px;
}
.feature-box p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  line-height: 23.95px;
  letter-spacing: 0.35px;
}

.slider {
  background-color: #e8e8e8;
  height: 614px;
}

.slider-container {
  background: url("../img/slider.png") -200px -50px;
  height: 100%;
  display: flex;
  align-items: center;
}

.slider-text {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.slider-container h2 {
  text-transform: uppercase;
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  line-height: 44px;
  margin-bottom: 12px;
}

.slider-container h3 {
  text-transform: uppercase;
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
}

.slider-container h3 span {
  text-transform: uppercase;
  color: #f16d7f;
  font-size: 40px;
  font-weight: 900;
  text-align: right;
}

.category {
  padding-top: 92px;
}

.container-category {
  display: flex;
  justify-content: space-between;
}

.container-category-left {
  display: flex;
  flex-direction: column;
}

.container-category-right {
  display: flex;
  flex-direction: column;
}

.category-item {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.category-item:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.category-item-name {
  position: absolute;
  top: 26px;
  background-color: #ffffff;
}

.category-item-name h2 {
  padding-top: 16px;
  padding-bottom: 1px;
  font-weight: 900;
  color: #222222;
  font-size: 18px;
}

.category-item-name h3 {
  padding-top: 1px;
  padding-bottom: 16px;
  font-weight: 900;
  color: #f16d7f;
  font-size: 30px;
}

.category-item-name h2,
.category-item-name h3 {
  padding-right: 19px;
  padding-left: 19px;
  text-transform: uppercase;
}

.container-product {
  padding-top: 80px;
}

.header-container-product {
  text-align: center;
  padding-bottom: 60px;
}

.header-container-product h2 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
}

.header-container-product p {
  padding-top: 8px;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}

.main-container-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  position: relative;
  width: 261px;
  height: 364px;
  margin-bottom: 40px;
}

.product:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.product:hover img {
  filter: brightness(30%);
}

.product:hover .cart-link {
  display: block;
}

.product p {
  text-transform: uppercase;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 15px 10px 15px;
}

.product span {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  padding-right: 15px;
  padding-left: 15px;
}

.product-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}

.cart-center {
  width: 100%;
  position: absolute;
  top: 90px;
  display: flex;
  justify-content: center;
}

.cart-link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  display: none;
  padding: 14px;
  border: 1px solid #ffffff;
}

.cart-link:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.cart-link i {
  width: 23px;
  color: #fff;
}

.featured-product-item {
  text-decoration: none;
  margin-bottom: 39px;
}

.featured-product-item:hover {
  background-color: #ffffff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.featured-product-item h2 {
  padding-top: 15px;
  padding-bottom: 6px;
  padding-left: 15px;
  text-transform: uppercase;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
}

.featured-product-item h3 {
  padding-top: 6px;
  padding-bottom: 15px;
  padding-left: 15px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.bottom-featured-product {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.browse-featured-product {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 14px 0 14px 24px;
  background-color: #f16d7f;
}

.browse-featured-product:hover {
  background-color: #a4a4a4;
}

.browse-featured-product i {
  padding-left: 9px;
  padding-right: 19px;
  color: #ffffff;
  font-size: 15px;
}

.container-offer {
  height: 529px;
  padding-top: 63px;
  padding-bottom: 97px;
  display: flex;
}

.offer-left {
  position: relative;
}

.offer-name {
  position: absolute;
  top: 146px;
  left: 39px;
}

.offer-name h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 40px;
}

.offer-name h2 span {
  color: #f16d7f;
}

.offer-name h3 {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 0.9px;
  line-height: 58px;
}

.offer-right {
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 0;
}

.article-offer h2 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.header-article {
  display: flex;
  align-items: center;
}

.header-article-left {
  width: 111px;
  display: flex;
  justify-content: center;
}

.header-article-right {
  padding-left: 2px;
}

.main-article {
  padding-right: 43px;
  padding-left: 111px;
}

.main-article p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.34px;
}

.slider-sub {
  background: url("../img/slider-subscribe.jpg") no-repeat center;
}

.container-slider-sub {
  display: flex;
  height: 438px;
}

.slider-sub-left {
  width: 569.5px;
  border-right: 0.5px solid #fff;
  padding: 123px 74px 123px 112px;
  position: relative;
  box-sizing: border-box;
}

.personal-img {
  position: absolute;
  left: 1px;
}

.slider-personal-comment {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
}

.slider-personal-name {
  color: #f16d7f;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 26px;
}

.slider-personal-title {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.slider-sub-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 569.5px;
  border-left: 0.5px solid #fff;
}

.slider-sub-right h2 {
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.slider-sub-right h3 {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}

.slider-sub-right .subscribe {
  padding-top: 30px;
  display: flex;
}

.sub-email {
  width: 282px;
  height: 46px;
  border: none;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  padding: 0 28px;
  box-sizing: border-box;
}

.sub-email:hover {
  background-color: #cdcdcd;
}

.sub-email:focus {
  outline: none;
  background-color: #ffffff;
}

.sub-but {
  width: 104px;
  height: 46px;
  border: none;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.sub-but:hover {
  background-color: #f15665;
}

.sub-but:focus {
  outline: none;
  background-color: #9ae58f;
}

.footer {
  padding-top: 100px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.brand-info {
  width: 427px;
}
.brand-info p {
  padding-top: 29px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.footer-section-nav h2 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  padding-bottom: 45px;
}

.footer-nav {
  list-style-type: none;
}
.footer-nav a {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
}
.footer-nav a:hover {
  color: #222224;
}

.resource {
  background-color: #e6e6e6;
}

.footer-resource {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-left p {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.resource-nav {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.resource-nav .not-use {
  background-color: #f0f0f0;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.resource-right a {
  margin-left: 8px;
  text-align: center;
  width: 32px;
  background-color: #ffffff;
  display: block;
  text-decoration: none;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 32px;
}
.resource-right a:hover {
  background-color: #f16d7f;
  color: #fff;
}

/*# sourceMappingURL=style-sass.css.map */
