@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    height: 100px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 39px;
}

.logo h2 {
    font-size: 27px;
    line-height: 32px;
    color: #222222;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 13px;
}

.logo h2 span {
    color: #f16d7f;
    font-weight: 900;
}

.header-browse {
    line-height: 16px;
    padding: 10px 0 10px 14px;
    display: block;
    background-color: #f5f5f5;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    border: 1px solid #cdcdcc;
}

.header-browse:hover {
    background-color: #ebebeb;
}

.header-browse i {
    padding-left: 8px;
    padding-right: 8px;
    color: #838383;
    font-size: 14px;
}

.header-search-form {
    display: flex;
    align-items: center;
}

.header-search-input {
    height: 36px;
    width: 315px;
    background-color: #ffffff;
    border-top: 1px solid #cdcdcc;
    border-right: none;
    border-bottom: 1px solid #cdcdcc;
    border-left: none;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 16px;
}

.header-search-input:focus {
    outline: none;
}

.header-search-button {
    height: 38px;
    width: 38px;
    border: 1px solid #cdcdcc;
    background-color: #ffffff;
    color: #a4a4a4;
    font-size: 14px;
}

.header-search-button:focus {
    outline: 0;
}

.header-search-button:hover{
    border: 1px solid #838383;
    color: #838383;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-cart i:hover {
    color: #a4a4a4;
}

.header-cart i {
    color: #222222;
    font-size: 32px;
    padding-right: 26px;
}

.header-myAccount {
    display: block;
    padding: 11px 0 11px 19px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.header-myAccount:hover {
    background-color: #a4a4a4;
}

.header-myAccount i{
    padding-left: 8px;
    padding-right: 12px;
    color: #ffffff;
    font-size: 14px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu a {
    display: block;
    padding: 19px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover {
    border-bottom: 3px solid #ef5b70;
}

.menu-active {
    border-bottom: 3px solid #ef5b70;
}



/*Slider*/
.slider {
    background-color: #e8e8e8;
    height: 614px;
}

.slider-container {
    background: url("../img/slider.png") -200px -50px;
    height: 100%;
    display: flex;
    align-items: center;
}

.slider-text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.slider-container h2 {
    text-transform: uppercase;
    color: #222222;
    font-size: 60px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 12px;
}

.slider-container h3 {
    text-transform: uppercase;
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    line-height: 32px;
}

.slider-container h3 span {
    text-transform: uppercase;
    color: #f16d7f;
    font-size: 40px;
    font-weight: 900;
    text-align: right;
}



/*Category*/
.category {
    padding-top: 92px;
}

.container-category {
    display: flex;
    justify-content: space-between;
}

.container-category-left {
    display: flex;
    flex-direction: column;
}

.container-category-right {
    display: flex;
    flex-direction: column;
}

.category-item {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.category-item:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.category-item-name {
    position: absolute;
    top: 26px;
    background-color: #ffffff;
}

.category-item-name h2 {
    padding-top: 16px;
    padding-bottom: 1px;
    font-weight: 900;
    color: #222222;
    font-size: 18px;
}

.category-item-name h3 {
    padding-top: 1px;
    padding-bottom: 16px;
    font-weight: 900;
    color: #f16d7f;
    font-size: 30px;
}

.category-item-name h2,
.category-item-name h3 {
    padding-right: 19px;
    padding-left: 19px;
    text-transform: uppercase;
}



/*Featured Product*/
.featured-product {
    padding-top: 80px;
}

.header-feature-product {
    text-align: center;
    padding-bottom: 60px;
}

.header-feature-product h2 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
}

.header-feature-product h3 {
    padding-top: 8px;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
}

.main-feature-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured-product-item {
    text-decoration: none;
    margin-bottom: 39px;
}

.featured-product-item:hover {
    background-color: #ffffff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.featured-product-item h2{
    padding-top: 15px;
    padding-bottom: 6px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
}

.featured-product-item h3{
    padding-top: 6px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}

.bottom-featured-product {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.browse-featured-product {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: 14px 0 14px 24px;
    background-color: #f16d7f;
}
.browse-featured-product:hover {
    background-color: #a4a4a4;
}
.browse-featured-product i {
    padding-left: 9px;
    padding-right: 19px;
    color: #ffffff;
    font-size: 15px;
}